/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */

/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

html {
  font-family: sans-serif;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.33em; /* 24 / 18 */
}
body {
  padding-top: 3.667em; /* 66 / 18 = 3.667... */
  padding-right: 1.222em; /* 22 / 18 = 1.2222222222 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222222 */
  background-color: red;
}
h1,
p {
  padding-bottom: 1.25em; /* 18 / 16 = 1.125 */
}
h1 {
  font-size: 2.369em; /* 42.635 / 18 = 2.369 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
  margin: 0;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: italic;
}
ul li {
  padding-bottom: 1.25em;
  display: block;
}

input::placeholder {
  color: green;
}

/* Layout Styles */

/* Modular Styles */

/* State Styles */
